body {
    font-size: 16px;
    color: #323339;
    font-family: 'Open Sans', sans-serif;
}

.button {
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
    padding: 18px 30px;
    border: 1px solid #fff;
    background: none;
    transition: all 0.3s;
}

.button:hover {
    color: #323339;
    border: 1px solid #fff;
    background: #fff;
}

.button-dark {
    color: #323339;
    border: 1px solid #323339;
}

.button-dark:hover {
    color: #fff;
    background: #323339;
    border: 1px solid #323339;
}

#home-page .nav {
    display: none;
}

#intro {
    padding-top: 114px;
    padding-bottom: 114px;
}

#intro #paradise-animation, #header-paradise-animation {
    display: inline-block;
    width: 70px;
}

#intro h1 {
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0;
}

#intro h2 {
    font-size: 18px;
}

.logo-animation {
    width: 100px;
    display: inline-block;
    margin-bottom: 40px;
}

.case-study-cover {
    padding-top: 114px;
    padding-bottom: 114px;
}

.case-study-cover h3 {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 12px;
}

.case-study-cover p {
    color: #fff;
}

.case-study-cover .platform {
    font-size: 1.1em;
}

.case-study-cover .country {
    font-size: 0.9em;
    margin-bottom: 32px;
}

#other-projects {
    padding-top: 114px;
    padding-bottom: 114px;
}

#other-projects h2 {
    font-size: 0.8em;
    color: #5E606B;
    margin-bottom: 35px;
}

.other-project .name {
    display: inline-block;
    transition: all 0.3s;
}

.other-project .name:hover {
    margin-right: 20px;
}

.other-project {
    margin-bottom: 20px;
}

.other-project .chevron {
    background-image: url('/img/chevron@2x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 10px;
    height: 10px;
}

.other-project img {
    border-radius: 20px;
    width: 100px;
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.15);
    margin-bottom: 17px;
}

.other-project h3 {
    font-size: 1.3em;
    color: #1A2332;
}

.other-project span {    
    font-size: 14px;
    color: #737B8C;
    display: block;
}

#about-me .columns {
    min-height: 600px;
}

#about-me h2 {
    font-size: 0.8em;
    color: #5E606B;
    margin-bottom: 16px;
}

#about-me p {
    line-height: 26px;
    margin-bottom: 23px;
}

#about-me .cover {
    min-height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#footer {
    padding: 21px;
}

#footer img {
    width: 15px;
    height: 15px;
}

#footer a {
    font-size: 12px;
    color: #1A2332;
}

#footer .social {
    display: inline-block;
    margin-right: 15px;
}

.single-post .header {
    text-align: center;
}

.single-post .download img {
    height: 40px;
    margin-right: 8px;
}

.single-post .intro {    
    max-width: 600px;
    margin: 60px auto;
}

.single-post .download {
    text-align: center;
    margin: 60px auto;
}

.single-post h1 {
    font-size: 24px;
    color: #1A2332;
    margin-bottom: 10px;
}

.single-post h2 {
    font-size: 16px;
}

.single-post p {
    color: #454C59;
    padding: 10px 0;
    margin: 0 auto;
    line-height: 29px;
    max-width: 600px;
}

.single-post .content img {
    max-width: 150%;
    margin-left: -25%;
}

.bottom-links {
    margin-bottom: 50px;
}

img + em { 
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    color: #454C59;
}

.back-top a {
    font-size: 12px;
    color: #454C59;
}

.back-top a:hover {
    text-decoration: underline;
}

@media (max-width: 1280px) { 
    .case-study-cover .cover-column-left {
        min-height: 600px;
        background-position: top right;
    }
}

@media (min-width: 1280px) { 
    #intro {
        background-image: none;
    }
    .case-study-cover .cover-column-right {
        background-position: top right;
        margin-right: -1rem;
    }
}
