{{ partial "header.html" . }}

    <section id="intro" class="section">
        <div class="container">
            <h1>{{ .Site.Params.author }}</h1>
            <h2>{{ .Site.Params.description }}</h2>
        </div>
    </section>

    {{ range $index, $element := where .Pages "Section" "project" }} 
        {{ if (modBool $index 2) }}
            <section class="section case-study-cover">
                <div class="container">
                    <div class="columns is-vcentered">
                        <div class="column is-4 text-column">
                            <h3>{{ .Params.title }}</h3>
                            <p>{{ .Params.country }} • {{ .Params.platform }}</p>
                            <a class="button" href="{{.Permalink}}" style="background-color:#{{ .Params.buttonColor }};">Case study</a>
                        </div>
                        <div class="column cover-column cover-column-right" style="background-image:url('img/{{ .Params.cover }}')">
                        </div>
                    </div>
                </div>
            </section>
        {{ else }}
            <section class="section case-study-cover">
                    <div class="container">
                        <div class="columns is-vcentered reverse-row-order">
                            <div class="column is-7-fullhd is-9-desktop cover-column cover-column-left" style="background-image:url('img/{{ .Params.cover }}')">
                            </div>
                            <div class="column text-column">
                                <h3>{{ .Params.title }}</h3>
                                <p>{{ .Params.country }} • {{ .Params.platform }}</p>
                                <a class="button" href="{{.Permalink}}" style="background-color:#{{ .Params.buttonColor }};">Case study</a>
                            </div>
                        </div>
                    </div>
            </section>
        {{ end }} 
    {{ end }}

    <section id="other-projects" class="section">

        <div class="container">
            <h2>Other Projects</h2>

            <div class="columns is-multiline is-mobile other-project">
                {{ range $.Site.Data.others.projects }}
                    <div class="column is-2-tablet is-one-third-mobile">
                        <img src="img/{{ .icon }}" alt="">
                        <h3>{{ .title }}</h3>
                        <span>{{ .location }}</span>
                        <span>{{ .type }}</span>
                        <span>{{ .year }}</span>
                    </div>
                {{ end }}
            </div>
        </div>

    </section>

    {{ partial "about.html" . }}


{{ partial "footer.html" . }}
