{{ partial "header.html" . }}

    <section id="intro" class="section">
        <div class="container">
            <h1>{{ .Site.Params.author }}</h1>
            <h2>{{ .Site.Params.description }}</h2>
        </div>
    </section>

    {{ range $index, $element := where .Pages "Section" "project" }} 
        <section class="section case-study-cover" style="background-color:#{{ .Params.backgroundColor }};">
            <div class="container">
                <div class="columns is-half is-centered has-text-centered is-vcentered">
                    <div class="column is-4 text-column">
                        <span class="logo-animation" id="{{ urlize .Params.title }}"></span>
                        <h3>{{ .Params.title }}</h3>
                        <p class="platform">{{ .Params.platform }}</p>
                        <p class="country">{{ .Params.country }}</p>
                        <a class="button" href="{{.Permalink}}" style="border: 1px solid #{{ .Params.buttonColor }}; color: #{{ .Params.buttonColor }};">Case study</a>
                    </div>
                </div>
            </div>
        </section>

        <script>
            (function() {
                lottie.loadAnimation({
                    container: document.getElementById('{{ urlize .Params.title }}'),
                    renderer: 'svg',
                    loop: true,
                    autoplay: true,
                    path: '{{ .Params.animationJSON }}'
                });
            })();
        </script>
    {{ end }}

    <section id="other-projects" class="section">

        <div class="container">
            <h2>Other Projects</h2>

            <div class="columns is-multiline is-mobile other-project">
                {{ range $.Site.Data.others.projects }}
                    <div class="column is-2-tablet is-one-third-mobile">
                        <img src="img/{{ .icon }}" alt="">
                        <h3>{{ .title }}</h3>
                        <span>{{ .location }}</span>
                        <span>{{ .type }}</span>
                        <span>{{ .year }}</span>
                    </div>
                {{ end }}
            </div>
        </div>

    </section>

    {{ partial "about.html" . }}


{{ partial "footer.html" . }}
