<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body lang="{{ .Site.Params.lang }}" class="{{ with .Params.layout }} {{ . }}-page {{ end }}"  {{ if .IsHome }} id="home-page" {{ end }}>

        <section class="section nav">
            <div class="container">
                <nav class="level">
                    <!-- Left side -->
                    <div class="level-left">
                        <a href="/">
                            <div id="header-paradise-animation"></div>
                        </a>
                        <script>
                            (function() {
                                lottie.loadAnimation({
                                    container: document.getElementById('header-paradise-animation'),
                                    renderer: 'svg',
                                    loop: true,
                                    autoplay: true,
                                    path: '/img/paradise.json'
                                });
                            })();
                        </script>
                    </div>
                    
                    <!-- Right side -->
                    <div class="level-right">
                    </div>
                </nav>
            </div>
        </section>